
:root {
/*	--main-dark-color: #102A49;
  --main-light-color: #C1E1DC;*/

/*  --main-dark-color: #52958B;
  --main-light-color: #B9C4C9;*/
/*
  --main-dark-color: #3A5199;
  --main-light-color: #E4E3DB;*/

/*  --main-dark-color: #A0B084;
  --main-light-color: #E4E3DB;*/

/*  --main-dark-color: #882426;
  --main-light-color: #E4E3DB;*/

/*  --main-dark-color: #9F4636;
  --main-light-color: #F1DCC9;*/

/*  --main-dark-color: #6C2D2C;
  --main-light-color: #F1DCC9;*/

/*  --main-dark-color: #C1F9DC;
  --main-light-color: #4C3F54;
  --main-light-color: #343F54;*/

/*  --main-dark-color: #6688CC;
  --main-light-color: #C1F9DC;*/

  --main-dark-color: #6688CC;
  --main-light-color: #FAF0F2;
}

html {
	height: 96%;
}

body {
  background-color: var(--main-light-color);
  height: 96%;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  overflow: visible;
  text-transform: none;
  padding:0;
}

.Play {
	position: absolute;
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.DailyButton {
	width: 30vw;
	height: 12vw;
	text-align: center;
	font-size: 7vw;
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	border: none;
	border-radius: 1vw;
	margin-bottom: 10vw;
}

.PracticeButton {
	width: 30vw;
	height: 12vw;
	text-align: center;
	font-size: 7vw;
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	border: none;
	border-radius: 1vw;
}

.GameContainer {
	height: 90%;
}

/*.titleContainer {
	height: 7vh;
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	font-size: 5vh;
	font-family: "Trebuchet MS";
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding-top: 1vh;
}*/

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	font-family: "Trebuchet MS";
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

#titleStats {
  width: 8vh;
  height: 7vh;
  display: flex;
  align-items: center;
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  overflow: visible;
  text-transform: none;
  padding:0;
}

#title {
	padding-top: 1vh;
  width: 75%;
  height: 7vh;
  font-size: 5vh;
}

#titleHowTo {
	width: 8vh;
  height: 7vh;
  font-size: 3vh;
  padding-top: 3vh;
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
}

#can {
  width: 100%;
  height: 60%;
}

.Container0 {
  height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 96%;
	margin: auto;
}

#target {
	color: var(--main-dark-color);
	height: 50%;
	width: 33.3% max-content;
	font-size: 2em;
	font-family: "Trebuchet MS";
}

#timer {
	color: var(--main-dark-color);
	height: 50%;
	width: 33.3%
	text-align: right;
	font-size: 2em;
	font-family: "Trebuchet MS";
}


.Container1 {
	height: 18vh;
	width:  50%;
	display:  grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 10vw;
	row-gap: 5vh;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
  justify-content: space-evenly;
}

.NumTile {
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	border-color: var(--main-dark-color);
	border-width: 3px;
	/*font-size: 2em;*/
	font-size: 4vh;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
	text-align: center;
}

.Container2 {
	height: 10vh;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	margin-bottom: 5vh;
	margin-top: 5vh;
	column-gap: 5vw;
}

.OpTile {
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	border-color: var(--main-dark-color);
	border-width: 3px;
	height: 60%;
	width: 18%;
	/*font-size: 2em;*/
	font-size: 4vh;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
	text-align: center;
}


.Container3 {
	height: 10vh;
	width: 96%;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 2vw;
}

.formulaTile {
	padding: 0;
	background-color: var(--main-light-color);
	color: var(--main-dark-color);
	height: 60%;
	width: 30%;
	font-size: 7vw;
	font-family: "Trebuchet MS";
	border-bottom: 3px solid var(--main-dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1px;
	text-align: center;
}

.formulaTileP {
	padding: 0;
	color: var(--main-dark-color);
	height: 60%;
	width: 10%;
	font-size: 7vw;
	font-family: "Trebuchet MS";
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.formulaTileOP {
	padding: 0;
	background-color: var(--main-light-color);
	color: var(--main-dark-color);
	height: 30%;
	width: 10%;
	font-size: 7vw;
	font-family: "Trebuchet MS";
	border-bottom: 3px solid var(--main-dark-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1px;
	text-align: center;
}

.UtilPanel {
	height: 8vh;
	width: 96%;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.UtilBtn {
	background-color: var(--main-dark-color);
	color: var(--main-light-color);
	border-color: var(--main-dark-color);
	border-width: 3px;
	width: 30%;
	/*font-size: 1.5em;*/
	font-size: 4vh;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
	text-align: center;
}

.YourResult {
	color: var(--main-dark-color);
	width: 60%;
  font-size: 7vw;
	font-family: "Trebuchet MS";
	text-align: center;
	height: 80%;
	align-self: center;
}

.FinalScore {
	height: 5vh;
	color: var(--main-light-color);
	font-size: 2em;
	font-family: "Trebuchet MS";
	margin: 0 auto;
	text-align: center;
	width: 100%;
	margin-top: 2vh;
}

.HowTo {
	width: 96%;
	height: 86%;
	position: absolute;
	top: 4%;
	border: 5px solid var(--main-dark-color);
	border-radius: 2vh;
	display: flex;
	z-index: 1;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-color: var(--main-dark-color);
	box-shadow: 0 0 10px 5px #65737E;
	animation: fadeIn 0.7s;
}

#HowTo-header {
	height: 10%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#HowTo-header-place {
	width: 20%;
}

#HowTo-title {
	width: 60%;
	text-align: center;
	height: 50%;
	font-size: 4vh;
	color: var(--main-light-color);
	font-family: "Trebuchet MS";
}

#HowTo-exit {
	width: 20%;
	text-align: center;
	height: 50%;
	font-size: 4vh;
	color: var(--main-light-color);
	font-family: "Trebuchet MS";
	-webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
  padding:0;
}

#HowTo-body {
	width: 100%;
	height: 90%;
}

.responsiveImg {
	width: 100%;
  height: 100%;
  border-radius: 2vh;
}

.Popup {
	width: 80%;
	height: 55%;
	position: fixed;
	top: 15%;
	left: 10%;
	border: 5px solid var(--main-dark-color);
	border-radius: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
	background-color: var(--main-dark-color);
	box-shadow: 0 0 10px 5px #65737E;
	animation: fadeIn 0.7s;
}

@keyframes fadeIn {
	0% {opacity:  0;}
	100% {opacity: 1;}
}

#Popup-header {
	height: 15%;
	width: 96%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#Popup-header-place {
	width: 20%;
}

#Popup-title {
	width: 60%;
	text-align: center;
	height: 50%;
	font-size: 4vh;
	color: var(--main-light-color);
	font-family: "Trebuchet MS";
}

#Popup-exit {
	width: 20%;
	text-align: center;
	height: 50%;
	font-size: 4vh;
	color: var(--main-light-color);
	font-family: "Trebuchet MS";
	-webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
  padding:0;
}

#Popup-body {
	padding-left: 5vh;
	height: 30%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#StatLabelContainer {
	width: 59%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: right;
}

#StatVarContainer {
	width: 50%;
	padding-left: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

.StatLabel {
	width: 100%;
	color: var(--main-light-color);
  font-family: "Trebuchet MS";
  font-size: 2vh;
}

.StatVar {
	width: 100%;
	color: var(--main-light-color);
  font-family: "Trebuchet MS";
  font-size: 2vh;
}

#Popup-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 15vh;
}

#Popup-button {
	height: 5vh;
	font-size: 3vh;
	background-color: var(--main-light-color);
	color: var(--main-dark-color);
	border-color: var(--main-light-color);
	width: 80%;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
}

#Popup-clear {
	height: 5vh;
	background-color: var(--main-light-color);
	color: var(--main-dark-color);
	border-color: var(--main-light-color);
	width: 80%;
  font-size: 3vh;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
}

.CelebrationTag {
	position: fixed;
	top: 3%;
	padding: 2vw;
	width: 40%;
	left: 28%;
	text-align: center;
	font-weight: bold;
	font-size: 3.5vh;
	background-color: var(--main-light-color);
	color: var(--main-dark-color);
	border: none;
	border-radius: 1vw;
	animation: dropin 0.5s ease-out forwards, 
	blink 0.7s linear 0.2s 2 forwards;
}

@keyframes dropin {
	from {top: 0%;}
	to {top: 16%; background: none;}
}

@keyframes blink {
	50% {
		opacity: 25%;
	}
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  margin: auto;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
