
:root {
	/*--main-border-color: #F66B0E;*/
	--main-border-color: #1AA7EC;
	/*--main-text-color: #F66B0E;*/
	--main-text-color: #1AA7EC;
	--main-background-color: #112B3C;
}

body {
	background-color: #112B3C;
}

.PlayButton {
	position: absolute;
	top: 45%;
	bottom: 45%;
	left: 35%;
	right: 35%;
	width: 30%;
	height: 10%;
	text-align: center;
	font-size: 5vh;
	background-color: var(--main-border-color);
	color: var(--main-background-color);
	border: none;
	border-radius: 1vw;
}

.GameContainer {
	height: 100%;
}

.titleContainer {
	height: 5vh;
	background-color: var(--main-border-color);
	font-size: 2em;
	font-family: "Trebuchet MS";
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding-top: 1vh;
}

.Container0 {
/*	height: 80px;*/
  height: 10vh;
/*	border-style: solid;
	border-width: 4px;
	border-color: orange;*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 96%;
	margin: auto;
}

#target {
	/*border-style: solid;
	border-width: 4px;*/
	color: var(--main-text-color);
	height: 50%;
	width: 33.3% max-content;
	font-size: 1.8em;
	font-family: "Trebuchet MS";
}

#timer {
/*	border-style: solid;
	border-width: 4px;*/
	color: var(--main-text-color);
	height: 50%;
	width: 33.3%
	text-align: right;
	font-size: 1.8em;
	font-family: "Trebuchet MS";
}


.Container1 {
	/*height: 150px;*/
	height: 18vh;
	width:  50%;
/*	border-style: solid;
	border-width: 4px;
	border-color: red;*/
	display:  grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 10vw;
	row-gap: 5vh;
	margin: auto;
	margin-top: 10vh;
	margin-bottom: 5vh;
  justify-content: space-evenly;
}

.NumTile {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	border-color: var(--main-border-color);
	border-width: 3px;
	/*font-size: 2em;*/
	font-size: 4vh;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
}

.Container2 {
	/*height: 100px;*/
	height: 10vh;
	width: 80%;
/*  border-style: solid;
	border-width: 4px;
	border-color: green;*/
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	margin-bottom: 5vh;
	margin-top: 5vh;
	column-gap: 5vw;
}

.OpTile {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	border-color: var(--main-border-color);
	border-width: 3px;
	height: 60%;
	width: 18%;
	/*font-size: 2em;*/
	font-size: 4vh;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
}


.Container3 {
	/*height: 200px;*/
	height: 10vh;
	width: 96%;
/*  border-style: solid;
	border-width: 4px;
	border-color: blue;*/
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 2vw;
}

.formulaTile {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	border-color: var(--main-border-color);
	height: 60%;
	width: 30%;
	/*font-size: 2em;*/
	font-size: 4vh;
	border-style: solid;
	border-width: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1vw;
}

.formulaTileP {
	/*background-color: var(--main-background-color);*/
	background-color: #112B3C;
	color: var(--main-text-color);
	border-color: var(--main-border-color);
	height: 60%;
	width: 10%;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formulaTileOP {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	border-color: var(--main-border-color);
	height: 30%;
	width: 10%;
	font-size: 2.5em;
	border-style: solid;
	border-width: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1vw;
}

.UtilPanel {
	height: 8vh;
/*	border-style: solid;
	border-width: 4px;
	border-color: orange;*/
	width: 96%;
	margin: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
}

.UtilBtn {
	background-color: var(--main-background-color);
	color: var(--main-text-color);
	border-color: var(--main-border-color);
	border-width: 3px;
	width: 20vw;
	font-size: 1.5em;
	font-family: "Trebuchet MS";
	border-radius: 1vw;
}

.FinalScore {
	height: 5vh;
	color: var(--main-text-color);
	font-size: 2em;
	font-family: "Trebuchet MS";
	margin: 0 auto;
	text-align: center;
	width: 100%;
	margin-top: 2vh;
}

.Popup {
	width: 60%;
	height: 50%;
	position: fixed;
	top: 25%;
	left: 20%;
	border-radius: 2vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#Popup-header {
	height: 15%;
	width: 96%;
	margin: 0 auto;
	margin-bottom: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	grid-row-gap: 23%;
}

#Popup-title {
	width: 100%;
	text-align: center;
	height: 50%;
	font-size: 4vh;
	color: var(--main-text-color);
	font-family: "Trebuchet MS";
}

#Popup-button {
	width: 100%;
	height: 50%;
	font-size: 4vh;
	background: none;
	border: none;
	color: var(--main-text-color);
	font-family: "Trebuchet MS";
}

#Popup-body {
	height: 85%;
	width: 96%;
	margin: 0 auto;
	margin-bottom: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.StatLabel {
	width: 100%;
	height: 15%;
	color: var(--main-text-color);
  font-family: "Trebuchet MS";
  font-size: 2vh;
  text-align: center;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  margin: auto;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
